html {
    width: 325px;
    height: 400px;
    max-height: 400%;
    overflow: hidden;
    background-color: rgb(187, 187, 187);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#icon {
    height: 28px;
    mix-blend-mode: multiply;
}

#textheader {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

hr {
    border: 2px solid black;
}

#time {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5%;
}

.top5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

#mostused {
    margin-bottom: 0px;
}

li {
    margin: 5px;
}

#url {
    flex: 1;
}

#time-limit {
    flex: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    width: 100%;
}

.time-limit-display {
    margin: 20px;
    max-height: 50px;
    overflow: scroll;
    border: 1px solid black;
}